html,body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    font-family: 'In your face, joffrey!';
}
@font-face {
    font-family: 'In your face, joffrey!';
    font-style: normal;
    font-weight: normal;
    src: local('/asset/font.woff'), url('/asset/font.woff') format('woff');
}
.stars {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
.main {
    z-index: 1;
}
h1 {
    text-align: center;
}
h1 img{
    max-width: 100%;
    width: 30%;
}

.star {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
}

.star.tiny {
    width: 1px;
    height: 1px;
}

.star.normal {
    width: 2px;
    height: 2px;
    z-index:4;
}

.star.big {
    width: 3px;
    height: 3px;

}

p{
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;

}
button{
    background-color: black;
    color: white;
    font-family: 'In your face, joffrey!';
    font-size: 6rem;
    margin: 2rem auto;
    padding: 10px 25px;
    display: block;
    border: white 1px solid;
    border-radius: 15px;
}

#cafete{
    width : 100%;
    height: 100vh;
}
